<ion-header>
  <ion-toolbar color="primary">
    <form [formGroup]="inputForm" (submit)="addItem(inputForm.value.taskName)">
      <ion-title>Outstanding</ion-title>
      <ion-input type="text" placeholder="Add a task" color="dark" clear-input formControlName="taskName"></ion-input>
      <ion-buttons>
        <ion-button type="submit" [disabled]="!inputForm.valid">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let item of pendingItems" [class.done] = "item.status">
        <ion-buttons slot="start">
          <ion-checkbox value="item.status" (ionChange)="changeItemStatus(item.id)" slot="start"></ion-checkbox>
        </ion-buttons>
        <ion-label>
          {{item.name}}
          <p>{{ item.dueDate | timeFromNow:'Due'}}</p>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
